# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules

# Build output
dist
dist-ssr

# Vite specific cache
.vite/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Environment variables .env files
.env*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json # Keep project-specific settings if desired
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local settings & temporary files
*.local

# Optional coverage reports
coverage/

src/assests/images